body {
    font-family: 'Press Start 2P' ,Arial, sans-serif;
    text-align: center;
    background-color: rgb(154, 52, 52);
    background: url("https://cdn.dribbble.com/userupload/3875672/file/original-42f52449520e8e7940c668566888d84f.png?resize=752x");
    background-repeat: no-repeat;
    background-position: calc();

}

#top-section {
    display:  inline-block;
    background-color: #ffffff;
    width: 50%;
    border-radius: 5%;
    padding: 3px;
    
}

/* #top-section:hover {
    background-color: bisque;
} */

#pokemon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 8px;
    position: absolute;
    left: 267px;
    top: 127px;
    margin: 0;
}

/* #pokemon-list:hover {
    background-color: bisque;
    color: black;
} */

.pokemon-card {
    width: 180px;
    height: 180px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    color: white;
    /* background-color: blue; */
    border: thick solid black;  

}

#next-button {
      position: absolute;
      top: 441px; left: 476px;
      border-right-color: 1px solid black;
}

#previous-button {
    position: absolute;
    top: 441px; left: 434px;
    border-right: 0;
    border-left: 1px solid black;
}

#next-button, #previous-button{
    background-color: hsl(220deg 1.68% 35.1%);
    /* border: 1px 1px 1px black; */
    border-top: 1px solid black;
   
    border-bottom: 1px solid black; 
}


.pokemon-card img {
    width: 100px;
    height: 100px;
}

#page-number {
    padding-top: 5px;
}

.id-card {
    font-size: 36px;
    position: absolute; 
    top: 455px;
    left: 320px;
    display: inline-block;
}


/* Media Queries */

 @media (max-width: 768px) {
    html {
        position: relative; 
        right: 160px;
        top: 30px;
    }
  }

  @media (min-width: 769px) and (max-width: 1284px) {
    /* Styles for medium screens like tablets and some phones in landscape */
    html {
        position: relative; 
        right: 160px;
        top: 30px;
    }
  }
 
  @media (min-width: 1285px) {
    html {
        position: relative; 
        right: 160px;
        top: 30px;
    }
  }
  
  
  
  
  
  
  